<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тестовое задание</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container">
    <div class="page-header">
        <h1>Тестовое задание</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form class="row">
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Github user name">
                </div>
                <button type="submit" class="btn btn-default col-md-3">Search</button>
            </form>
            <div class="row" id="user-widget">
                
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</body>
</html>
